<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.myapplication_login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication_login">
        <activity android:name=".recipe_review"></activity>
        <activity android:name=".product_search" />
        <activity android:name=".chokubaizyo_search" />
        <activity android:name=".recipe_list" />
        <activity android:name=".newpage_02" />
        <activity android:name=".newpage" />
        <activity android:name=".recipe_create" />
        <activity android:name=".Recipe_search" />
        <activity android:name=".Signin_user" />
        <activity android:name=".login_kakunin" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>